<!-- JSON para fins de teste
{{ coffee | json}}
-->
<div class="form">
  <h4>Insira os dados da entrega:</h4>
  <form name="formUser">

    Nome:
    <br>
    <input [(ngModel)]="coffee.name" type="text" name="nome">
    <br>
    E-mail:
    <br>
    <input [(ngModel)]="coffee.email" type="text" name="email">
    <br> Quantidade:
    <br>
    <input [(ngModel)]="coffee.quantity" type="text" name="qtde">
    <br> Data:
    <br>
    <input [(ngModel)]="coffee.date" type="date" name="date">
    <br>
    <br>
    <button class="button1" (click)="onButtonClick()">Enviar</button>
  </form>
  <br>
</div>