<!--The content below is only a placeholder and can be replaced.-->

  <div class="header">
    <div class="i1">
    <img src="/assets/img/logo.png" alt="Logo">
  </div> 
  
  <div class="ad">
      <img src="/assets/img/dell-web-project-banner.jpg" alt="Logo">
    </div>  
  </div>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#usuarios">Usuários</a></li>
    <li><a href="#calendario">Calendario</a></li>
    <li style="float:right"><a class="active" href="#about">Sobre</a></li>
  </ul>  
  <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!<BR>
  </h1>
<button (click)="onButtonClick()">teste</button>

<ol>

  <li font-style="Arial" *ngFor="let i of list"> {{ i }}</li>

</ol>
</div>

