h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.i1 {    
    max-width: 100px;
    height: 50%;
    float: left;    
    

}

.header {
    background-image: url("/assets/img/title_bg.jpg");    

}


.ad {    
    
    max-width: 400px;
    height: 50%;
    margin-left: 220px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}


ol {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-position: inside;
    padding: 5px;
}